* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/fontspring-demo-proximanovacond-regular-webfont.woff');
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;   
}

.title {
    font-family: 'Chelsea Market', cursive;
}